.header {
  background-color: var(--title);
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 500;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.logo {
  width: 80px;
}

.menu {
  position: relative;
  display: block;
  width: 40px;
  cursor: pointer;
}

.menu__item {
  width: 100%;
  height: 3px;
  margin: 10px 0;
  border-radius: 10px;
  transition: 0.9s;
  background-color: white;
}

/* Animation */

.menu.menu--open .menu__item:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 5px);
}

.menu.menu--open .menu__item:nth-child(2) {
  opacity: 0;
}

.menu.menu--open .menu__item:nth-child(3) {
  transform: rotate(44deg) translate(-12px, -8px);
}

.menu__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 75px;
  background-color: var(--title);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 0.5s;
  top: 0;
  right: -103%;
}

.menu__list--open {
  right: 0;
}

.list__item {
  margin-top: 2rem;
}

.list__link {
  color: var(--text);
  font-family: var(--bebas);
  font-size: 3rem;
}

@media (min-width: 1000px) {
  .nav {
    max-width: 80%;
    margin: 0 auto;
  }

  .menu {
    display: none;
  }

  .menu__list {
    position: static;
    margin-top: initial;
    height: initial;
    width: initial;
    display: flex;
    flex-direction: row;

    column-gap: 20px;
  }

  .list__link {
    font-size: 1.5rem;
  }

  .list__item {
    margin-top: initial;
  }
}
